<% if user_signed_in? %>
  <p><%= link_to 'My schedules', schedules_path, class: "btn btn-primary" %></p>
  <p><%= link_to 'Create a schedule', new_schedule_path, class: "btn btn-primary"%></p>
<% else %>
  <div class="row">
    <div class="col-md-4 welcome_well well">
      <h2>Welcome to Sched.run</h2>
      <p>Get ready for your race by creating your very own custom training schedules today!</p>
      <p><%= link_to 'Sign up', new_user_registration_path, class: "btn-lg btn btn-primary" %></p>
      <p><%= link_to 'Sign in', new_user_session_path, class: "btn-lg btn btn-primary"%></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 welcome_well well">
      <h3>Train, track your progress, and meet your goals.</h3>
      <%= image_tag("schedule_example", :class => "schedule_example") %>
    </div>
  </div>
</div>
<% end %>
