<%= form_for(@schedule) do |f| %>
<div class="row">
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Race info</h3>
    <div class="field">
      <%= f.label :name, "Schedule Name"%><br>
      <%= f.text_field :name, :placeholder => "required"  %>
    </div>
    <div class="field">
      <%= f.label :race_day %><br>
      <%= f.text_field :race_day, :id => "datepicker", :placeholder => "required"  %>
    </div>
    <div class="field">
      <%= f.label :race_type %><br>
      <%= f.select :race_type, RACE_TYPES %>
    </div>
  </div>
  <div class="col-sm-6">
    <h3>Weekly Activities</h3>
    <div class="field">
      <%= f.label :monday %><br>
      <%= f.select :monday, TRAINING_OPTIONS, :selected => "rest"  %>
    </div>
    <div class="field">
      <%= f.label :tuesday %><br>
      <%= f.select :tuesday, TRAINING_OPTIONS, :selected => "short run" %>
    </div>
    <div class="field">
      <%= f.label :wednesday %><br>
      <%= f.select :wednesday, TRAINING_OPTIONS, :selected => "medium run" %>
    </div>
    <div class="field">
      <%= f.label :thursday %><br>
      <%= f.select :thursday, TRAINING_OPTIONS, :selected => "cross train" %>
    </div>
    <div class="field">
      <%= f.label :friday %><br>
      <%= f.select :friday, TRAINING_OPTIONS, :selected => "short run"  %>
    </div>
    <div class="field">
      <%= f.label :saturday %><br>
      <%= f.select :saturday, TRAINING_OPTIONS, :selected =>  "rest" %>
    </div>
    <div class="field">
      <%= f.label :sunday %><br>
      <%= f.select :sunday, TRAINING_OPTIONS, :selected => "long run" %>
    </div>
    <div class="alert alert-info alert-dismissable">You can use the <a href=#training_table><b>table below</b></a> to figure out how many days of each activity you need to train for your race</div>
  </div>
    <div>
      <%= f.submit :class => "btn btn-primary btn-lg"%>
    </div>
  <% end %>
</div>
