<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :race_day %><br>
    <%= f.date_select :race_day %>
  </div>
  <div class="field">
    <%= f.label :monday %><br>
    <%= f.select :monday, @training_options, :selected => "rest"  %>
  </div>
  <div class="field">
    <%= f.label :tuesday %><br>
    <%= f.select :tuesday, @training_options, :selected => "short run" %>
  </div>
  <div class="field">
    <%= f.label :wednesday %><br>
    <%= f.select :wednesday, @training_options, :selected => "medium run" %>
  </div>
  <div class="field">
    <%= f.label :thursday %><br>
    <%= f.select :thursday, @training_options, :selected => "cross train" %>
  </div>
  <div class="field">
    <%= f.label :friday %><br>
    <%= f.select :friday, @training_options, :selected => "short run"  %>
  </div>
  <div class="field">
    <%= f.label :saturday %><br>
    <%= f.select :saturday, @training_options, :selected =>  "rest" %>
  </div>
  <div class="field">
    <%= f.label :sunday %><br>
    <%= f.select :sunday, @training_options, :selected => "long run" %>
  </div>
  <div class="field">
    <%= f.label :race_type %><br>
    <%= f.select :race_type, @race_types %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
