<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :race_day %><br>
    <%= f.date_select :race_day %>
  </div>
  <div class="field">
    <%= f.label :monday %><br>
    <%= f.text_field :monday %>
  </div>
  <div class="field">
    <%= f.label :tuesday %><br>
    <%= f.text_field :tuesday %>
  </div>
  <div class="field">
    <%= f.label :wednesday %><br>
    <%= f.text_field :wednesday %>
  </div>
  <div class="field">
    <%= f.label :thursday %><br>
    <%= f.text_field :thursday %>
  </div>
  <div class="field">
    <%= f.label :friday %><br>
    <%= f.text_field :friday %>
  </div>
  <div class="field">
    <%= f.label :saturday %><br>
    <%= f.text_field :saturday %>
  </div>
  <div class="field">
    <%= f.label :sunday %><br>
    <%= f.text_field :sunday %>
  </div>
  <div class="field">
    <%= f.label :race_type %><br>
    <%= f.text_field :race_type %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
