<h1><%= @schedule.name %></h1>

<table class="table-bordered table-striped">
  <tr>
    <td>Week</td>
    <td>Monday</td>
    <td>Tuesday</td>
    <td>Wednesday</td>
    <td>Thursday</td>
    <td>Friday</td>
    <td>Saturday</td>
    <td>Sunday</td>
  </tr>
  <% @schedule.weeks.each do |week| %>
  <tr>
    <td><%= week.number %></td>
    <% week.days.each do |day| %>
    <td>
      <p><%= day.date %></p>
      <p><%= day.activity %></p>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
    
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
