<%= form_for(@day, remote: true) do |f| %>
  <div class="field">
    <%= f.label :activity %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
<% end %>
